@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #0c0e1f;
}

body::-webkit-scrollbar-thumb {
  background-color: goldenrod;
  border-radius: 10px;
}

body {
  background-color: #0c0e1f;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
}

header {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #0e184e;
  clip-path: circle(50px at 100% 0%);
  transition: 0.5s ease;
  cursor: pointer;
  z-index: 1;
}

header.active {
  clip-path: circle(145% at 100% 0);
}

header nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

header nav img {
  display: none;
}

header nav i {
  position: absolute;
  color: white;
  font-size: 2rem;
  right: 0;
  top: 0;
  padding: 0.2rem;
}

header nav ul {
  font-family: "Poiret One", sans-serif;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  height: 70%;
}

header nav ul li {
  width: 60%;
}

header nav ul li a {
  display: flex;
  justify-content: center;
  padding: 15px 10px;
  text-transform: uppercase;
  border: 1px solid whitesmoke;
  width: 100%;
  text-decoration: none;
  color: whitesmoke;
  transition: 0.5s ease;
}

header nav ul li a:hover {
  background-color: goldenrod;
}

header nav ul li:nth-child(7) {
  background-color: goldenrod;
}

section {
  height: 100vh;
  font-family: "Poiret One", sans-serif;
  text-align: center;
}

section h2 {
  color: gold;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 100;
  width: 100%;
  font-size: clamp(1rem, 8vw, 3rem);
}

section p {
  max-width: 650px;
  font-size: clamp(1rem, 6vw, 2rem);
  color: white;
  padding: 1rem 0;
}

section div .img {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
}

#quines-somos,
#tienes-un-problema,
#como-y-a-quienes,
#comentario,
#contacto,
#propuesta-solutiva {
  display: flex;
  justify-content: center;
  align-items: center;
}

#propuesta-solutiva {
  position: relative;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(fotos-loba/2.jpg) center/cover;
  background-repeat: no-repeat;
  filter: blur(5px) brightness(50%);
  z-index: -1;
}

.parrafo-home {
  padding: 1rem;
}

.parrafo-home div img {
  width: 80%;
  mix-blend-mode: screen;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #f5f3f3);
}

.parrafo-home div h1 {
  font-size: 3rem;
  color: goldenrod;
}

.parrafo-home p {
  font-weight: bolder;
  padding: 1rem 0;
}

.parrafo-home button {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #00ff37;
}

.parrafo-home button a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.quines-somos,
.tienes-un-problema,
.propuesta-solutiva, 
.como-y-a-quienes,
.comentario,
.contacto {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  transform: translateY(30%);
  opacity: 0;
  transition: 2s ease;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.quines-somos-img {
  background-image: url(fotos-loba/presntacion.jpg);
}

.tienes-un-problema-img {
  background-image: url(fotos-loba/5.jpg);
}

.como-y-a-quienes-img {
  background-image: url(fotos-loba/stairs.jpg);
}

.propuesta-solutiva {
  overflow: hidden;
  position: relative;
  border: none;
}

.carrucel {
  display: flex;
  width: calc(350px * 8);
  animation: carrucel 40s linear infinite;
}

.propuesta-solutiva::before,
.propuesta-solutiva::after {
  content: "";
  position: absolute;
  color: #0c0e1f;
  bottom: 0;
  height: 200px;
  width: 0;
  box-shadow: 0px 0px 15px 20px;
  z-index: 1;
}

.propuesta-solutiva::before {
  left: 0;
}

.propuesta-solutiva::after {
  right: 0;
}

.carrucel div {
  width: 350px;
  padding-top: 5rem;
  transform: translate(700px);
  position: relative;
}

.carrucel div p {
    padding: 0 10px;
}

.number {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  padding-top: 5px;
  margin-bottom: 2rem;
  display: inline-block;
  border-radius: 50%;
  border: solid 1px;
  color: white;
}

@keyframes carrucel {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-350px * 4));
  }
}

.motivacion p {
  font-style: italic;
}

.comentario,
.contacto,
.motivacion {
  flex-direction: column;
}

.contacto p {
  color: gold;
  padding: 0;
}

.contacto p:nth-child(2) {
  color: whitesmoke;
  padding: 0.5rem 0;
}

.contacto p i {
  padding: 0 10px;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.redes {
  margin-top: 20px;
}

.redes i {
  padding: 0 8px;
  color: whitesmoke;
  font-size: clamp(1rem, 5vw, 2rem);
}

.bi-facebook:hover {
  color: #3e2af7;
}
.bi-whatsapp:hover {
  color: #76fc6a;
}
.bi-envelope-at-fill:hover {
  color: #fff348;
}
.bi-geo-alt-fill:hover {
  color: #fc4040;
}

.part-one {
  position: relative;
  overflow: hidden;
}

.fondo {
  position: relative;
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  color: whitesmoke;
}

@media screen and (min-width: 600px) {
  header {
    clip-path: circle(75px at 100% 0%);
  }

  header.active {
    clip-path: circle(145% at 100% 0);
  }

  section div .img {
    width: 70%;
  }

  header nav i {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    position: absolute;
    height: auto;
    clip-path: initial;
  }

  header nav {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav img {
    width: 45px;
    mix-blend-mode: multiply;
    border-radius: 50%;
    display: initial;
    padding: 5px;
  }

  header nav i {
    display: none;
  }

  header nav ul {
    flex-direction: row;
    justify-content: end;
  }

  header nav ul li {
    font-size: 0.9rem;
    width: auto;
    border-radius: 0;
  }

  header nav ul li a {
    border: none;
  }

  .propuesta-solutiva::before,
  .propuesta-solutiva::after {
    box-shadow: 0px 0px 50px 80px;
  }

  section h2 {
    font-size: 2rem;
  }

  section p {
    font-size: 1.6rem;
  }

  .parrafo-home div h1 {
    font-size: 4rem;
  }

  .parrafo {
    order: 2;
  }

  .como-y-a-quienes-img {
    order: 1;
  }

  .parrafo-home div img {
    width: 60%;
  }

  section div .img {
    max-width: 30%;
  }

   
}
